/** {
    border: 1px solid black
}*/

body {
    text-align: center;
    background-color: #dbd2e0;
}

h1 {
   color: #7d8570;
   font-family: fantasy;
   font-size: 40px;
}

.main-link {
    font-size: 30px;
    text-decoration: none;
    background-color: #9bc1bc;
    padding: 10px;
}

.image-potato {
    margin-top: 30px;
    width: 500px;
    height: auto;
}

.text-potato {
    padding: 20px;
    margin-left: 400px;
    margin-right: 400px;
}

li {
    list-style: none;
}

.benefits {
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}

footer {
    text-align: right;
    font-style: italic;
    font-size: 15px;
}

