/** {
    border: 1px solid black
}*/

body {
    text-align: center;
}

h1 {
   color: #7d8570;
   font-family: fantasy;
   font-size: 40px;
}

.main-link {
    display: block;
    font-size: 30px;
    text-decoration: none;
}

.image-potato {
    width: 500px;
    height: auto;
}

.text-potato {
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

li {
    list-style: none;
}

footer {
    text-align: right;
}